---
import Layout from "@/layouts/Layout.astro";
import FormReactIsland from "@/components/FormReactIsland";
import type { ResponseApi } from "@/lib/types";
export function getStaticPaths() {
  return [
    { params: { slug: "sistema-digestivo-humano" } },
    { params: { slug: "sistema-nervioso-humano" } },
  ];
}

const { slug } = Astro.params;

const response = await fetch(`${Astro.url.origin}/forms/api/${slug}.json`);
const responseJson = await response.json();
const { title, description, questions, thumbline } =
  responseJson.data as ResponseApi;
---

<Layout title={title}>
  <main class="flex flex-col gap-6 items-center w-full py-6 px-2 max-h-full">
    <FormReactIsland
      title={title}
      description={description}
      questions={questions}
      client:load
    >
      <img
        src={`/${thumbline}`}
        transition:name="sistema-nervioso-humano-transition"
        class="rounded-l-xl"
        width="130"
        alt="formulario-1"
      /></FormReactIsland
    >
  </main>
</Layout>
